In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('exams.csv')

In [17]:
data.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group D,high school,free/reduced,none,55,61,62
1,male,group D,some high school,standard,none,60,56,54
2,male,group C,some high school,standard,none,84,77,70
3,female,group C,associate's degree,free/reduced,none,49,62,59
4,female,group E,associate's degree,standard,none,100,100,100

In [20]:
data.drop('some high school', axis=1, inplace=True)

KeyError: "['some high school'] not found in axis"

In [4]:
data.describe()

        math score  reading score  writing score
count  1000.000000    1000.000000    1000.000000
mean     67.108000      70.065000      68.882000
std      15.057459      14.578179      15.237856
min      19.000000      27.000000      26.000000
25%      57.000000      60.000000      58.000000
50%      67.000000      70.000000      69.000000
75%      78.000000      81.000000      80.000000
max     100.000000     100.000000     100.000000

In [6]:
data.groupby(['race/ethnicity']).mean()

                math score  reading score  writing score
race/ethnicity
group A          66.506494      70.194805      68.480519
group B          62.964286      66.331633      64.693878
group C          64.583333      69.077160      67.250000
group D          68.289683      71.265873      71.857143
group E          76.238411      74.960265      73.059603

In [7]:
data.groupby(['parental level of education']).mean()

                             math score  reading score  writing score
parental level of education
associate's degree            68.103261      72.217391      71.059783
bachelor's degree             71.327586      74.465517      75.034483
high school                   64.939560      67.428571      65.549451
master's degree               72.648649      77.283784      76.864865
some college                  67.109705      69.544304      68.641350
some high school              63.782609      66.019324      63.850242

In [8]:
data.groupby(['lunch']).mean()

              math score  reading score  writing score
lunch
free/reduced   58.804598      64.195402      62.028736
standard       71.539877      73.197853      72.539877

In [9]:
data.groupby(['test preparation course']).mean()

                         math score  reading score  writing score
test preparation course
completed                 70.621701      74.551320      75.454545
none                      65.289833      67.743551      65.481032

In [11]:
data.groupby(['race/ethnicity', 'parental level of education', 'lunch', 'test preparation course']).mean()

                                                                                 math score  \
race/ethnicity parental level of education lunch        test preparation course
group A        associate's degree          free/reduced completed                 72.333333
                                                        none                      53.250000
                                           standard     completed                 74.250000
                                                        none                      66.333333
               bachelor's degree           free/reduced completed                 63.000000
                                                        none                      53.750000
                                           standard     completed                 79.666667
                                                        none                      83.000000
               high school                 free/reduced completed                 58.500000
                                           standard     completed                 69.000000
                                                        none                      73.000000
               master's degree             free/reduced none                      61.000000
                                           standard     completed                 92.500000
                                                        none                      63.000000
               some college                free/reduced completed                 67.666667
                                                        none                      64.333333
                                           standard     completed                 72.200000
                                                        none                      62.333333
               some high school            free/reduced none                      56.400000
                                           standard     completed                 66.166667
                                                        none                      66.666667
group B        associate's degree          free/reduced completed                 62.750000
                                                        none                      59.285714
                                           standard     completed                 78.333333
                                                        none                      70.285714
               bachelor's degree           free/reduced completed                 64.000000
                                                        none                      59.375000
                                           standard     completed                 70.666667
                                                        none                      70.428571
               high school                 free/reduced completed                 47.400000
...                                                                                     ...
group D        some college                standard     completed                 79.000000
                                                        none                      67.733333
               some high school            free/reduced completed                 70.500000
                                                        none                      56.200000
                                           standard     completed                 77.454545
                                                        none                      64.421053
group E        associate's degree          free/reduced completed                 70.666667
                                                        none                      80.000000
                                           standard     completed                 83.000000
                                                        none                      79.454545
               bachelor's degree           free/reduced completed                 92.000000
                                                        none                      82.500000
                                           standard     completed                 95.000000
                                                        none                      89.142857
               high school                 free/reduced completed                 65.400000
                                                        none                      58.666667
                                           standard     completed                 77.777778
                                                        none                      77.181818
               master's degree             free/reduced completed                 71.000000
                                                        none                      70.400000
                                           standard     completed                 86.666667
                                                        none                      77.400000
               some college                free/reduced completed                 74.500000
                                                        none                      64.571429
                                           standard     completed                 79.000000
                                                        none                      82.300000
               some high school            free/reduced completed                 69.500000
                                                        none                      63.600000
                                           standard     completed                 74.833333
                                                        none                      77.600000

                                                                                 reading score  \
race/ethnicity parental level of education lunch        test preparation course
group A        associate's degree          free/reduced completed                    70.333333
                                                        none                         60.000000
                                           standard     completed                    79.000000
                                                        none                         73.833333
               bachelor's degree           free/reduced completed                    71.000000
                                                        none                         57.500000
                                           standard     completed                    83.000000
                                                        none                         85.000000
               high school                 free/reduced completed                    73.000000
                                           standard     completed                    76.000000
                                                        none                         72.800000
               master's degree             free/reduced none                         63.500000
                                           standard     completed                    92.500000
                                                        none                         75.000000
               some college                free/reduced completed                    73.000000
                                                        none                         64.333333
                                           standard     completed                    72.600000
                                                        none                         65.555556
               some high school            free/reduced none                         62.400000
                                           standard     completed                    67.166667
                                                        none                         66.666667
group B        associate's degree          free/reduced completed                    69.000000
                                                        none                         63.571429
                                           standard     completed                    83.000000
                                                        none                         69.500000
               bachelor's degree           free/reduced completed                    66.000000
                                                        none                         67.375000
                                           standard     completed                    66.666667
                                                        none                         74.285714
               high school                 free/reduced completed                    60.600000
...                                                                                        ...
group D        some college                standard     completed                    81.666667
                                                        none                         70.100000
               some high school            free/reduced completed                    75.000000
                                                        none                         61.000000
                                           standard     completed                    79.454545
                                                        none                         64.631579
group E        associate's degree          free/reduced completed                    75.166667
                                                        none                         78.250000
                                           standard     completed                    77.000000
                                                        none                         76.272727
               bachelor's degree           free/reduced completed                    85.000000
                                                        none                         85.500000
                                           standard     completed                    85.333333
                                                        none                         87.714286
               high school                 free/reduced completed                    66.400000
                                                        none                         58.000000
                                           standard     completed                    74.222222
                                                        none                         74.727273
               master's degree             free/reduced completed                    80.000000
                                                        none                         78.000000
                                           standard     completed                    93.000000
                                                        none                         83.800000
               some college                free/reduced completed                    70.000000
                                                        none                         65.571429
                                           standard     completed                    76.000000
                                                        none                         78.200000
               some high school            free/reduced completed                    72.000000
                                                        none                         65.800000
                                           standard     completed                    74.333333
                                                        none                         71.466667

                                                                                 writing score
race/ethnicity parental level of education lunch        test preparation course
group A        associate's degree          free/reduced completed                    71.666667
                                                        none                         56.500000
                                           standard     completed                    80.500000
                                                        none                         70.000000
               bachelor's degree           free/reduced completed                    71.500000
                                                        none                         56.500000
                                           standard     completed                    87.333333
                                                        none                         80.500000
               high school                 free/reduced completed                    69.500000
                                           standard     completed                    78.500000
                                                        none                         68.800000
               master's degree             free/reduced none                         63.500000
                                           standard     completed                    92.500000
                                                        none                         67.000000
               some college                free/reduced completed                    76.333333
                                                        none                         58.000000
                                           standard     completed                    73.400000
                                                        none                         64.888889
               some high school            free/reduced none                         55.800000
                                           standard     completed                    66.666667
                                                        none                         59.666667
group B        associate's degree          free/reduced completed                    68.750000
                                                        none                         58.357143
                                           standard     completed                    84.333333
                                                        none                         67.571429
               bachelor's degree           free/reduced completed                    67.000000
                                                        none                         66.500000
                                           standard     completed                    73.333333
                                                        none                         74.000000
               high school                 free/reduced completed                    60.200000
...                                                                                        ...
group D        some college                standard     completed                    82.800000
                                                        none                         70.666667
               some high school            free/reduced completed                    77.833333
                                                        none                         60.800000
                                           standard     completed                    82.454545
                                                        none                         63.526316
group E        associate's degree          free/reduced completed                    75.833333
                                                        none                         72.250000
                                           standard     completed                    74.333333
                                                        none                         74.000000
               bachelor's degree           free/reduced completed                    89.000000
                                                        none                         88.000000
                                           standard     completed                    88.333333
                                                        none                         85.571429
               high school                 free/reduced completed                    64.700000
                                                        none                         54.333333
                                           standard     completed                    76.666667
                                                        none                         70.636364
               master's degree             free/reduced completed                    83.000000
                                                        none                         75.200000
                                           standard     completed                    98.333333
                                                        none                         82.600000
               some college                free/reduced completed                    72.000000
                                                        none                         61.428571
                                           standard     completed                    78.400000
                                                        none                         75.600000
               some high school            free/reduced completed                    68.500000
                                                        none                         61.100000
                                           standard     completed                    70.833333
                                                        none                         68.466667

[117 rows x 3 columns]